name: Live_Source_Master

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: pip install httpx
      - run: python make_live.py
      - name: Push
        run: |
          git config --local user.email "bot@github.com"
          git config --local user.name "bot"
          git add cctv.m3u README.md
          git commit -m "Update" || exit 0
          git push



